/* font-family: 'Lato', sans-serif; 
font-family: 'Oswald', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap");

body {
  margin: 0%;
  display: block;
}
.header {
  width: 100vw;
  background-color: #4c4f4d;
  height: 15vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: linear-gradient(#204229, #437a52);
}
.intro {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  height: 15vh;
  background: linear-gradient(#204229, #437a52);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.name {
  font-size: 3rem;
  color: #a6e0b6;
  padding-bottom: 1rem;
  text-shadow: 5px 5px #3b423d;
}
.function {
  font-size: 1.5rem;
  color: #d8f0df;
  text-shadow: 2px 2px #3b423d;
}
