/* font-family: 'Lato', sans-serif; 
font-family: 'Oswald', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap");

body {
  margin: 0%;
  display: block;
  background: #437a52;
  animation: fadebackground 2s infinite;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
h2 {
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 4.2px 4.2px 3.4px #3b423d;
}
h4 {
  color: #3b423d;
  font-weight: bolder;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #d8f0df;
}
a:visited {
  color: #d8f0df;
}
a:hover {
  color: rgba(41, 53, 46, 0.56);
  cursor: pointer;
}

.header {
  width: 100vw;
  background-color: #4c4f4d;
  height: 15vh;
  box-shadow: rgba(58, 114, 83, 0.56) 0px 22px 70px 40px;
}
.intro {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  height: 15vh;
  background: linear-gradient(#204229, #437a52);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.name {
  font-size: 3rem;
  color: #d8f0df;
  padding-bottom: 1rem;
  text-shadow: 5px 5px #3b423d;
}
.function {
  font-size: 1.5rem;
  color: #d8f0df;
  text-shadow: 2px 2px #3b423d;
  padding-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  background: #437a52;
  font-family: "Oswald", sans-serif;
  animation: fadebackground 2s infinite;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  height: 85vh;
  width: 80vw;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  overflow-y: auto;
}

.left_side {
  height: 85vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.picture,
.profile,
.contact {
  width: 100%;
  height: 33.333%;
  color: #d8f0df;
  padding: 0 10px;
  text-align: center;
  border-top: solid 5px #204229;
}
.picture {
  background-image: url(../poza_profil.jpg);
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  line-height: 1.8;
  border-bottom: solid 5px #204229;
}
.right_side {
  width: 70%;
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  overflow-y: auto;
}
.experience {
  height: 40%;
  width: 70%;
  overflow-y: auto;
  border-bottom: 5px solid #204229;
  color: #d8f0df;
}
.education {
  height: 25%;
  width: 70%;
  overflow-y: auto;
  border-bottom: 5px solid #204229;
  color: #d8f0df;
}
.skills {
  height: 45%;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #d8f0df;
  border-bottom: solid 5px #204229;
}
.first,
.second {
  display: flex;
  padding: 15px;
}
.skills div {
  text-shadow: 4.2px 4.2px 3.4px #3b423d;
  letter-spacing: 1px;
  line-height: 30px;
  padding-right: 12px;
}
@keyframes fadebackground {
  from {
    background-color: #204229;
  }
  to {
    background-color: #437a52;
  }
}
@media (max-width: 376px) {
  .profile,
  .contact,
  .skills {
    overflow-y: auto;
  }
  .profile,
  .contact,
  .skills {
    border-bottom: transparent;
  }
  .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
  }

  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    height: 50%;
  }
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
  .profile {
    height: 45%;
  }
}
@media (min-width: 1600px) {
  .skills {
    height: 30%;
  }
  .education {
    height: 40%;
    overflow-y: none;
  }
  .profile {
    height: 25%;
  }
}
